body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #3a3a3a;
    margin-bottom: 20px;
}

.controles {
    margin-bottom: 20px;
    font-size: 16px;
}

.controles select {
    padding: 5px;
    font-size: 16px;
    border-radius: 4px;
}

#GridGatos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.cartas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cartas img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 10px;
}

.cartas h3 {
    font-size: 18px;
    color: #333;
    margin: 0 0 10px;
}

.pagina {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.pagina span {
    font-size: 16px;
    margin: 0 10px;
}


button {
    padding: 10px;
    background-color: #4caf4e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.botonDetalles {
    background: rgb(50, 109, 219);
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    display: inline-block;
}

.cat-details {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
}

.cat-details img {
    width: 300px;
    height: auto;
    border-radius: 6px;
    margin-right: 20px;
    flex-shrink: 0;
}

.cat-details div {
    flex-grow: 1;
    text-align: left;
}

.cat-details h1 {
    margin-top: 0;
}

.cat-details p {
    line-height: 1.6;
}